:root {

  //colors
  --background-color: black;
  --font-color: white;


  //spacing
  --spacing-xl: 5vw;
  --spacing-md: 3vw;
  --spacing-sm: 1.5vw;


  //navbar
  --navbar-font-size: 20px;
  --navbar-brand-font-size: 30px;
}
